<!doctype html>
<html lang="en" ng-controller="CommonController">

<head>

	<meta charset="utf-8">
	<title>Angular Template</title>
	<link href="css/reset.css" type="text/css" rel="stylesheet" />
	<link href="css/fontface.css" type="text/css" rel="stylesheet" />
	<link href="css/layout.css" type="text/css" rel="stylesheet" />
	<link href="css/directive.css" type="text/css" rel="stylesheet" />

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

	<!--
꼭 필요한 필수 CSS는 위와 같이 고정해서 붙이고,
일부 페이지마다 필요한 CSS은 아래와 같이 컨트롤러에서 설정해서 로드한다. (IE8 에서도 정상동작)
http://plnkr.co/edit/KzjIMN
-->
	<link ng-repeat="stylesheet in stylesheets" ng-href="{{stylesheet}}" type="text/css" rel="stylesheet" />
</head>

<body ondragstart="return false" onselectstart="return false" style="background-color:white;">
	<form name="test"></form>
	<div ng-view style="height:100%;"></div>
	<!--<div style="background-image: url('../img/network_disconnect.gif'); width:0px; height:0px;"></div>-->
	<!--
이 data-main 속성에서 requireJS가 처음 로드해야할 JS를 설정한다.
아래와 같이 쓰면, js 폴더 아래에 main.js 파일을 열게 된다.
-->
	<script>
		if (window.require) {
			window.requireNode = window.require;
			window.require = undefined;
			var fs = window.requireNode('fs');
			var file = fs.readFileSync('package.json');
		}
	</script>

	<script data-main="js/main" src="lib/requirejs/require.js"></script>
</body>

</html>
