html { width: 100%; height: 100%; }
body { padding: 0; margin: 0; width: 100%; height: 100%; position: relative;  background: #555;  line-height: 1.6em; font-size: 12px;  }
b { font-weight: bold; }
a { text-decoration: none;  ; }
i { vertical-align: middle; }
img { vertical-align: middle; }
::-webkit-scrollbar {
	/*display: none;*/
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, span, div, form, fieldset, legend, input, textarea, button, select, a, label { font-family: 'noto-sans', sans-serif;      }
input, button { font-size: 12px; }
.row { position: relative; }
.row:after { content: ""; display: block; clear: both; }
.col {  }
.row .col:first-child { margin-left: 0px; }
.wrap { overflow: hidden; position: relative; }

div {
    box-sizing: border-box;
}
