<!--<div ng-include="'partials/view/major/major_include.html'"></div>-->
<div id="major">
	<div class="head">
		<combobox cb-data="data.search"></combobox>
		<combobox cb-data="data.type"></combobox>
		<div class="buttons">
			<button class="form-bt" ng-click="data.submit()">검색</button>
			<button class="form-bt" ng-click="close()">종료</button>
		</div>
	</div>
	<div class="contents">
		<div id="vocaList" ng-include="'partials/view/major/major_include.html'"></div>
		<div id="result">
			<div class="form-el">
				<label for="vocaroot">어근</label>
				<input type="text" id="vocaroot" ng-model="data.result.rt" ng-keyup="ignore($event)" ng-keydown="ignore($event)">
			</div>
			<div class="form-el">
				<label for="ineng">영어</label>
				<input type="text" id="ineng" ng-model="data.result.en" ng-keyup="ignore($event)" ng-keydown="ignore($event)">
			</div>
			<div class="form-el">
				<label for="mean">의미<i class="clipboard"></i></label>
				<textarea id="mean" ng-keyup="ignore($event)" ng-keydown="ignore($event)">{{data.result.kr}}</textarea>
			</div>
		</div>
	</div>
	<div class="tail">
		<div id="information" class="buttons">
			<button class="form-bt" ng-click="information($event)">정보</button>
		</div>
		<div id="else">
			<iframe src="http://sanguneo.com/#addd" style="width:200%;height:100%;margin-left:-50%" scrolling="no"></iframe>
		</div>
		<div id="romanizer" class="buttons">
			<button class="form-bt" ng-click="romanize()">로마자변환</button>
		</div>
	</div>
	<div id="fog" ng-class="opened">
		<div id="informationDialog">
			<div class="logo"></div>
			<div class="comment">
				InKrKamus v2.0<br />
				Designed by Sangkwon Nah<br />
				sknah0319@gmail.com<br />
				<a ng-click="donation('http://blog.sanguneo.com')">http://blog.sanguneo.com</a><br /><br />
				Database from JongTaek Jang (CJ Indonesia)<br /><br />
				Sepcial Thanks to Sunmi Oh
			</div>
			<div class="buttonset buttons">
				<button class="form-bt" ng-click="donation('http://www.naver.com')" >광고제거</button>
				<button class="form-bt" ng-click="closeInfoDialog()">닫기</button>
			</div>
		</div>
	</div>

</div>
