<!--<div ng-include="'partials/view/major/major_include.html'"></div>-->
<div id="major">
	<div class="head">
		<combobox cb-data="data.search"></combobox>
		<combobox cb-data="data.type"></combobox>
		<div class="buttons">
			<button class="form-bt" ng-click="data.submit()">검색</button>
			<button class="form-bt" ng-click="romanize()">종료</button>
		</div>
	</div>
	<div class="contents">
		<div id="vocaList" ng-include="include"></div>
		<div id="result">
			<div class="form-el">
				<label for="vocaroot">어근</label>
				<input type="text" id="vocaroot" ng-model="data.result.rt" ng-keyup="ignore($event)" ng-keydown="ignore($event)">
			</div>
			<div class="form-el">
				<label for="ineng">영어</label>
				<input type="text" id="ineng" ng-model="data.result.en" ng-keyup="ignore($event)" ng-keydown="ignore($event)">
			</div>
			<div class="form-el">
				<label for="mean">의미<i class="clipboard"></i></label>
				<textarea id="mean" ng-keyup="ignore($event)" ng-keydown="ignore($event)">{{data.result.kr}}</textarea>
			</div>
		</div>
	</div>
	<div class="tail">asff</div>
</div>
