<!--<div ng-include="'partials/view/major/major_include.html'"></div>-->
<div id="major">
	<div class="head">
		<combobox cb-data="data.search"></combobox>
		<combobox cb-data="data.type"></combobox>
		<div class="buttons">
			<button class="form-bt" ng-click="data.submit()">검색</button>
			<button class="form-bt">종료</button>
		</div>
	</div>
	<div class="contents">
		<div id="vocaList">
			<listbox l-data="data.vocalist"></listbox>
		</div>
		<div id="result">
			<div class="form-el">
				<label for="vocroot">어근</label>
				<input type="text" id="vocroot" readonly>
			</div>
			<div class="form-el">
				<label for="inEng">영어</label>
				<input type="text" id="inEng" readonly>
			</div>
			<div class="form-el">
				<label for="mean">의미</label>
				<textarea id="mean" readonly></textarea>
			</div>
		</div>
	</div>
	<div class="tail"></div>
</div>
