a {
    cursor:pointer;
    color:gray;
    font-weight: bold;
}
button {
    cursor:pointer;
    color: white;
    font-size: 0.875rem;
    background-color: #34a5e7;
    border: 0;
    border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-clip: padding-box;
    white-space: normal;
}
button:active{
    background-color: #3390d1;
}

html,body {
	overflow:hidden;
}
#major{
    width:100%;
    height:100%;
	overflow:hidden;
}
.buttons {
    text-align: justify;
    vertical-align: top;
    white-space: nowrap;
}
.head {
    width:100%;
    height:50px;
    border-bottom:1px solid #d9d9d9;
    padding: 5px 3px;
}
.head > div {
    padding:0;
    display: inline-block;
}
.head > #searchInput {
    width:40%;
}
.head > #searchType{
    width:100px;
    vertical-align: top;
}
.head > .buttons {
    width:calc(60% - 209px);
}
.buttons .form-bt {
    display: inline-block;
    width: calc(50% - 2px);
    height: 38px;
}
.contents {
    width: 100%;
    height:calc(100% - 110px);
}
#vocaList {
    position:absolute;
    top:50px;
    width:200px;
    height:calc(100% - 110px);
    padding: 3px;
}
#vocaList > div{
    width:100%;
    height:100%;
}
#result {
    position:absolute;
    top:50px;
    right:0px;
    width:100%;
    height:calc(100% - 110px);
    border-left:1px solid #d9d9d9;
    padding: 10px;
    background-color: white;
}
#result.opened {
    width:calc(100% - 200px);
}
#result .form-el{
    width:calc(100% - 28px)
}
#result .form-el > label{
    margin-left:10px;
}
#result .form-el textarea{
    width: calc(100% + 4px);
    transition: inherit!important;
}
.tail {
    position:absolute;
    display:inline-block;
    bottom:0;
    width:100%;
    height:60px;
    border-top:1px solid #d9d9d9;
    padding: 5px 3px;
}
.tail > div {
    height:100%;
    display:inline-block;
}
.tail > #information {
    height:100%;
    width:200px;
	z-index:1;
}
.tail > #else {
    height:100%;
    width:calc(100% - 410px);
}
.tail > #romanizer {
    height:100%;
    width:200px;
	z-index:1;
}
.tail > div .form-bt {
    display: inline-block;
    width: calc(100% - 2px);
    height: 48px;
}
#fog {
    z-index:100;
    position:fixed;
    width:100%;
    height:100%;
    background-color: rgba(100, 100, 100, 0.7);
    top:0;
    left:0;
    display:none;
    opacity:0;
}
#fog > #informationDialog {
    position:fixed;
    top:calc(50% - 200px);
    left:calc(50% - 160px);
    width:320px;
    height:400px;
    padding:10px;
    background-color: white;
    border: 0;
    border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-clip: padding-box;
    /*display:none;*/
}

#fog > #informationDialog > div{
    width:100%;
    text-align: center;
}
#fog > #informationDialog > .logo{
    background-image: url('../../img/favicon.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 45%;
}
#fog > #informationDialog > .comment{
    height: 45%;
}
#fog > #informationDialog > .buttonset{
    height: 10%;
}