button {
    color: white;
    font-size: 0.875rem;
    background-color: #34a5e7;
    border: 0;
    border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-clip: padding-box;
}
button:active{
    background-color: #3390d1;
}
#major{
    width:100%;
    height:100%;
}
.head {
    width:100%;
    height:50px;
    border-bottom:1px solid #d9d9d9;
    padding: 5px 3px;
}
.head > div {
    padding:0;
    display: inline-block;
}
.head > #searchInput {
    width:40%;
}
.head > #searchType{
    width:100px;
    vertical-align: top;
}
.head > .buttons {
    width:calc(60% - 209px);
    text-align: justify;
    vertical-align: top;
    white-space: nowrap;
}
.head > .buttons button{
  white-space: normal;
}
.head > .buttons .form-bt {
    display: inline-block;
    width: calc(50% - 2px);
    height: 38px;
}
.contents {
    width: 100%;
    height:calc(100% - 90px);
}
#vocaList {
    position:absolute;
    top:50px;
    width:200px;
    height:calc(100% - 90px);
    padding: 3px;
}
#vocaList > div{
    width:100%;
    height:100%;
}
#result {
    position:absolute;
    top:50px;
    right:0px;
    width:100%;
    height:calc(100% - 90px);
    border-left:1px solid #d9d9d9;
    padding: 10px;
    background-color: white;
}
#result.opened {
    width:calc(100% - 200px);
}
#result .form-el{
    width:calc(100% - 28px)
}
#result .form-el > label{
    margin-left:10px;
}
#result .form-el textarea{
    width: calc(100% + 4px);
    transition: inherit!important;
}
.tail {
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;
    border-top:1px solid #d9d9d9;
    padding: 5px 3px;
}
